
<h1>Experiences</h1>

<% @experiences.each do |experience| %>
  <div>
    <h2><%= experience.title %></h2>
    <p><%= experience.description %></p>
    <p><%= link_to "Edit", edit_experience_path(experience) %></p>
  </div>

<% end %>
